[Unit]
Description=Aquario Irrigation System
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /opt/aquario/main.py
WorkingDirectory=/opt/aquario
Restart=on-failure
User=aquario
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target